$admin-font: "Helvetica", sans-serif;

.v-navigation-drawer {
    &.admin {
        z-index: 4;

        .v-list {
            font-family: $admin-font;
            padding: 0;

            .v-list-item {
                min-height: 56px;
                margin-bottom: 0 !important;
                color: var(--v-admin-font-base);
                border-color: var(--v-admin-border-lighten1);
                border-style: solid;
                border-width: 1px 0;
                padding-left: 4px;

                &:not(:first-child) {
                    margin-top: -1px;
                }

                &,
                &::before {
                    border-radius: 0;
                }

                &__title {
                    font-size: 15px;
                    color: inherit;
                    line-height: normal;
                }

                &__icon {
                    margin: 0 14px;
                    justify-content: center;
                    align-self: center;
                    color: var(--v-admin-disabled-base);

                    .v-icon {
                        color: inherit;
                        font-size: 16px;
                    }
                }

                &--active {
                    color: var(--v-admin-primary-base);
                    border-left-color: var(--v-admin-primary-base);
                    border-left-width: 4px;
                    padding-left: 0;

                    &::before {
                        color: var(--v-admin-border-base);
                    }

                    .v-list-item__icon {
                        color: var(--v-admin-primary-base);
                    }
                }
            }
        }
    }
}
.v-application .v-main,
.v-dialog {
    &.admin {
        background-color: var(--v-admin-background-base);

        h1 {
            font-family: $admin-font;
            color: var(--v-admin-font-base);
            letter-spacing: -0.73px;
            font-weight: normal;
            margin-bottom: 28px;

            span {
                word-break: break-all;
            }
        }

        h1 {
            font-size: 29px;
        }

        h2 {
            color: var(--v-admin-font-base);
            letter-spacing: -0.73px;
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 16px;
        }

        .error--text {
            color: var(--v-admin-error-base) !important;
            caret-color: var(--v-admin-error-base) !important;
        }

        .primary--text {
            color: var(--v-admin-primary-base) !important;
            caret-color: var(--v-admin-primary-base) !important;
        }

        .v-messages {
            font-size: 11px;
            letter-spacing: -0.18px;

            &.error--text {
                margin: 4px 0 12px;
            }
        }

        .v-input {
            font-size: 11px;
            color: var(--v-admin-font-base) !important;

            input {
                color: inherit;
                max-height: 30px;
            }

            .v-icon {
                font-size: 20px;
            }
        }

        .v-select {
            .v-input__slot {
                padding-right: 0 !important;
            }

            .v-input__icon--clear {
                min-width: unset;
                width: auto;
            }

            .v-icon {
                font-size: 16px;
                color: black;
            }

            &__slot {
                .v-label {
                    font-size: 11px;
                    color: var(--v-admin-font-lighten1);
                }
            }

            &.v-text-field--outlined .v-label {
                top: auto;
            }

            &__selections > input::placeholder {
                font-size: 11px;
                color: var(--v-admin-font-lighten1);
            }

            &__selection--comma {
                margin: 0;
            }
        }

        .v-input--checkbox {
            .v-label {
                font-size: 11px;
            }

            .checkbox-admin {
                width: 16px;
                height: 16px;
            }

            .v-messages {
                display: none;
            }

            .v-input__slot {
                margin-bottom: 0;
            }
        }

        .v-input--selection-controls {
            margin-top: 0;
            padding-top: 0;

            &__ripple {
                display: none;
            }
        }

        .v-file-input {
            .v-input__slot {
                position: relative;
                padding-right: 70px;

                .v-text-field__slot {
                    position: static;
                }
            }
        }

        .v-progress-linear {
            margin-top: 20px;
            overflow: initial;

            &__content {
                top: -15px;

                > div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: var(--v-admin-font-lighten1);
                    font-size: 13px;
                    font-family: $admin-font;
                    width: 100%;

                    span {
                        color: var(--v-admin-font-darken1);
                    }
                }
            }

            > div {
                border-radius: 8px;
            }
        }

        .v-text-field {
            &__details {
                margin-bottom: 0;
            }
            &__suffix {
                position: absolute;
                height: 100%;
                display: flex;
                align-items: center;
                background: var(--v-admin-tertiary-base);
                right: 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border: 1px solid var(--v-admin-border-base);
                padding: 0 16px;

                &:hover {
                    cursor: pointer;
                }
            }

            .v-input__slot {
                font-family: $admin-font;
                min-height: 30px;
                border-radius: 4px;
                margin-bottom: 0;

                fieldset {
                    border-width: 1px;
                    color: var(--v-admin-primary-base);
                }
            }
            &:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control {
                > .v-input__slot {
                    fieldset {
                        color: var(--v-admin-border-base);
                    }
                }

                > .v-input__slot:hover {
                    fieldset {
                        color: var(--v-admin-primary-base);
                    }
                }
            }
            &:not(.error--text) .v-input__slot {
                box-shadow: none;
            }
            &.error--text {
                .v-input__slot {
                    box-shadow: 0px 2.5px 5.5px rgba(196, 24, 60, 0.1);
                    fieldset {
                        color: var(--v-admin-error-base);
                    }
                }
            }

            &.v-text-field--solo {
                .v-input__control {
                    min-height: 45px;
                }
            }

            .v-input__append-inner,
            .v-input__prepend-outer {
                margin-top: 0px;
                align-self: center;
            }

            &.v-text-field--outlined .v-label {
                font-size: 10px;
                font-family: "Roboto";
                top: auto;
                color: var(--v-admin-font-darken1);
            }
        }

        .v-btn:not(.v-btn--icon) {
            font-family: $admin-font;
            font-size: 12px;
            min-width: 110px;
            min-height: 30px;
            height: auto;
            border-radius: 4px;

            &.primary {
                background: var(--v-admin-primary-base) !important;
                border-color: var(--v-admin-primary-base) !important;
                color: var(--v-background-base);
            }

            &.secondary {
                background: var(--v-admin-secondary-base) !important;
                border-color: var(--v-admin-secondary-base) !important;
                color: var(--v-background-base);
            }

            &.tertiary {
                background: var(--v-admin-tertiary-base) !important;
                border-color: var(--v-admin-tertiary-base) !important;
                color: var(--v-admin-font-base);
            }

            &.v-btn--text {
                font-size: 11px;
                padding: 0;
                justify-content: flex-start;

                &:hover {
                    opacity: 0.7;
                }

                &::before {
                    display: none;
                }

                &.primary--text {
                    color: var(--v-admin-primary-base) !important;
                    caret-color: var(--v-admin-primary-base) !important;
                }

                &.v-size--large {
                    font-size: 14px;
                }
            }
        }

        .control-group {
            max-width: 320px;

            &--with-btn {
                .v-btn {
                    display: inline-block;
                    width: 30px;
                    padding: 0;
                    margin-left: 8px;
                    min-width: unset;
                }

                .v-text-field {
                    display: inline-block;
                    width: calc(100% - 38px);
                }
            }
        }

        .control-buttons {
            border-radius: 4px;

            .v-icon {
                font-size: 12px;
                margin-right: 2px;
                margin-top: 2px;
            }

            .v-btn.v-size--default {
                max-height: 24px;
                min-width: unset;
                border: 1px solid var(--v-admin-border-base);
                font-size: 11px;
                padding: 0 6px;
                background-color: inherit;
                color: var(--v-font-base);
                opacity: 1;
            }

            .v-btn:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .v-btn:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .v-btn:not(:last-child):not(:first-child) {
                border-radius: 0;
            }
        }

        .v-pagination {
            color: var(--v-admin-primary-base);

            &__navigation {
                border: 0;
                height: auto;
                width: auto;
                box-shadow: none;

                .v-icon {
                    font-size: 11px;
                    color: currentColor;
                }
            }

            .v-pagination__item {
                font-size: 15px;
                height: auto;
                min-height: 18px;
                min-width: 18px;
                line-height: 18px;
                border: 0;
                margin: 0;
                box-shadow: none;

                &:not(&--active) {
                    color: currentColor;
                }
                &--active {
                    background-color: var(--v-admin-primary-base) !important;
                    border-color: var(--v-admin-primary-base) !important;
                }
            }

            .v-pagination__more {
                margin: 0;
                width: auto;
                height: auto;
            }
        }

        .v-data-table {
            border-radius: 0;

            &__wrapper {
                table > thead > tr:last-child > th {
                    font-family: $admin-font;
                    font-size: 12px;
                    color: var(--v-admin-font-base);
                    font-weight: 700;
                    padding: 0 8px;
                    border-bottom: 0;
                }

                td,
                tr {
                    font-size: 12px;
                    color: var(--v-admin-icon-base);
                    padding: 0 8px;
                    border-radius: 0 !important;
                    border-bottom: 0 !important;
                    word-wrap: break-word;
                }

                tr:hover {
                    background-color: var(--v-admin-background-base) !important;
                }
            }

            &:not(.v-data-table--mobile) &__wrapper {
                td,
                tr,
                th {
                    height: 36px;
                }
            }

            .v-toolbar {
                height: auto !important;

                &__content {
                    height: auto !important;
                    padding: 0;
                }
            }

            ::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            ::-webkit-scrollbar-thumb {
                width: 5px;
                height: 5px;
                background-color: var(--v-admin-disabled-base);
                border-radius: 8px;
            }

            ::-webkit-scrollbar-track {
                background-color: var(--v-admin-disabled-lighten1);
            }
        }

        .v-card {
            &__title {
                font-family: $admin-font;
                color: var(--v-admin-font-base);
                font-weight: 700;
            }
        }

        .admin-toolbar {
            .v-toolbar__content {
                padding: 0;
            }

            &__item {
                padding: 0;
                height: inherit !important;
                min-width: 70px;

                &:not(:last-child):not(:first-child) {
                    border-color: var(--v-admin-border-lighten1);
                    border-style: solid;
                    border-width: 0 1px;
                    border-radius: 0;
                }

                > .v-list-item {
                    height: inherit;
                    justify-content: center;
                }
            }
        }

        .admin-notifications {
            &:hover:not(:focus)::before {
                opacity: 0.04;
            }
            &::before {
                background-color: var(--v-admin-font-base);
            }
        }

        .admin-search {
            font-size: 14px;

            .v-icon {
                color: var(--v-admin-disabled-base);
                font-size: 22px;
                margin-top: 2px;
            }

            .v-label {
                font-size: inherit;
                color: var(--v-admin-font-base);
                opacity: 0.7;
            }

            .v-input__control,
            .v-input__slot {
                height: 100%;
            }

            .v-input__slot {
                padding: 0 8px !important;
            }

            .v-text-field__details {
                display: none;
            }

            .v-input__prepend-outer {
                margin: 0;
                align-self: center;
            }
        }

        .copyright {
            font-size: 14px;
            font-weight: 500;
            text-align: right;
        }
    }
}
.v-application .v-main {
    &__wrap {
        display: flex;
        flex-direction: column;

        .admin-toolbar {
            flex-grow: 0;
            flex-shrink: 0;
        }

        .admin-content {
            width: 100%;
            flex: 1;
        }
    }
}
.v-application .v-main .admin-error-page {
    text-align: center;

    h1 {
        color: var(--v-admin-disabled-base);
        font-size: 75px;
        line-height: 90px;
        margin-bottom: 12px;
    }

    &__title {
        font-size: 50px;
        line-height: 60px;
        letter-spacing: -2.5px;
        color: var(--v-admin-font-base);
        margin-bottom: 16px;
    }

    &__message {
        font-family: $admin-font;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.5px;
        color: var(--v-admin-icon-base);
        margin-bottom: 36px;
    }
}
.admin-menu,
.admin-dialog {
    .v-btn {
        font-family: $admin-font;
        border-radius: 4px;

        &.v-size--default {
            font-size: 12px;
            min-width: 110px;
            min-height: 30px;
            height: auto;
        }

        &.primary {
            background: var(--v-admin-primary-base) !important;
            border-color: var(--v-admin-primary-base) !important;
            color: var(--v-background-base);
        }

        &.secondary {
            background: var(--v-admin-secondary-base) !important;
            border-color: var(--v-admin-secondary-base) !important;
            color: var(--v-background-base);
        }
    }

    .v-list-item {
        font-family: $admin-font;
        color: var(--v-admin-font-base) !important;
        flex: 0;
    }
}
.admin-account {
    .v-list-item {
        height: inherit;
        color: var(--v-admin-font-base);

        &__title {
            min-width: 70px;
            font-size: 15px;
        }
    }
}
.admin-login {
    width: 100%;
    height: 100%;
    padding: 168px 16px 0 16px;
}
.login-form {
    max-width: 378px;
    width: 100%;
    margin: 0 auto;

    &__card {
        width: 100%;

        .v-card__title {
            font-family: $admin-font;
            color: var(--v-admin-font-base);
            text-transform: initial;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: -0.4px;
            padding: 18px 10px;
            border-bottom: 1px solid var(--v-admin-background-base);
            border-radius: 0 !important;
        }
    }
}

.login-field-item,
.control-group {
    .v-subheader {
        font-family: $admin-font;
        font-size: 11px;
        letter-spacing: -0.18px;
        color: var(--v-admin-font-darken1);
        padding: 0;
        height: auto;
        margin-bottom: 8px;
    }
}

.admin-content {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 120px;
    max-width: 1980px;
    margin: auto;

    &__container {
        min-height: 390px;
        min-width: 320px;
        padding: 16px 20px;
        background-color: white;
        border-radius: $border-radius-root;
    }
}

.car-main-info {
    padding: 40px 22px;
    min-height: auto;

    &__img {
        margin: auto;
    }

    &__title {
        text-align: center;
        font-size: 25px;
        color: var(--v-admin-font-base);
        font-family: $admin-font;
    }

    &__category {
        line-height: 15px;
        color: var(--v-admin-font-lighten1);
        font-size: 13px;
        text-align: center;
    }

    &__loader {
        .v-file-input {
            max-width: 230px;
            margin: 10px auto;
        }

        .image-loader-progress-bar {
            display: flex;
            flex-direction: column;
            margin: 0 -22px;
            padding: 18px 22px;
            border-top: 1px solid var(--v-admin-border-base);
        }
    }

    &__description {
        color: var(--v-admin-font-lighten1);
        font-size: 13px;
        margin: 0 -22px 22px;
        padding: 18px 22px 0;
        border-top: 1px solid var(--v-admin-border-base);

        span {
            display: block;
            margin-bottom: 12px;
            font-weight: 500;
            font-size: 14px;
        }
    }
}

.car-settings {
    min-width: 320px;

    &__form {
        padding-top: 24px;
    }
}

.car-details-page {
    gap: 28px;
}

.datetime-picker-btn {
    font-family: $admin-font;
    border-radius: 4px;

    &.v-btn--text {
        font-size: 14px;
        padding: 0;

        &:hover {
            opacity: 0.7;
        }

        &::before {
            display: none;
        }

        &.primary--text {
            color: var(--v-admin-primary-base) !important;
            caret-color: var(--v-admin-primary-base) !important;
        }

        &.v-size--default {
            height: 30px;
        }
    }
}

.v-application .admin-filters {
    flex: 1;
    padding: 0 20px 8px 20px;
    border-bottom: 1px solid var(--v-admin-border-base);
    margin: 0 -20px;

    .v-select {
        margin-bottom: 8px;
        max-width: 110px;

        &:not(:last-child) {
            margin-right: 15px;
        }

        .v-text-field__details {
            display: none;
        }
    }

    &__controls {
        .v-btn {
            margin-bottom: 8px;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &__mobile-btn {
        width: 100%;
    }

    &.v-navigation-drawer {
        z-index: 5;

        .v-navigation-drawer__content {
            padding-left: 15px;
            padding-top: 24px;
        }

        .v-select {
            max-width: unset;
            margin-right: 0;
            width: 100%;

            .v-input__slot {
                min-height: 48px;
            }
        }

        .admin-filters__controls {
            margin-top: 16px;

            .v-btn {
                width: 100%;
            }
        }
    }
}

.admin-pagination {
    padding: 20px 20px 0px 20px;
    border-top: 1px solid var(--v-admin-border-base);
    margin: 0 -20px;
}

.admin-bottom-nav.v-bottom-navigation {
    max-width: 100%;
    overflow: auto;
    justify-content: flex-start;
    height: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .v-btn {
        background-color: inherit;
        height: 100%;
        padding-top: 4px;
        border-color: var(--v-admin-border-lighten1);
        border-style: solid;
        border-width: 0 1px;
        min-width: 70px;

        &:not(:first-child) {
            margin-left: -1px;
        }

        &.v-btn--active {
            color: var(--v-admin-primary-base) !important;
            padding-top: 0px;
            border-top-color: var(--v-admin-primary-base);
            border-top-width: 4px;
        }

        &:before {
            color: var(--v-admin-disabled-base);
            background: currentColor;
        }

        .v-icon {
            font-size: 22px;
        }
    }

    .v-btn:not(.v-btn--active) {
        color: var(--v-admin-disabled-base) !important;
    }
}

.order-price {
    font-family: $admin-font;
    font-size: 24px;
    letter-spacing: -0.75px;
    flex: 1;
    white-space: nowrap;
}

.order-image {
    min-width: 150px;
    padding: 12px 0;
}

.order-info {
    color: var(--v-admin-font-lighten1);
    letter-spacing: -0.4px;
    font-size: 13px;

    > div {
        font-size: 13px;
    }

    strong {
        color: initial;
        font-weight: normal;
    }
}

.order-options {
    min-width: 150px;
}

.order-controls {
    padding: 12px 0;
}
.v-footer {
    font-size: 13px;

    &.theme--dark {
        background-color: var(--v-menu-base) !important;

        .copyright {
            color: var(--v-disabled-base) !important;
        }
    }
}

.table-container {
    max-height: 490px;
    overflow: auto;
    margin-top: 8px;
    margin-bottom: 12px;
    padding-bottom: 0;

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-thumb {
        width: 5px;
        height: 5px;
        background-color: var(--v-admin-disabled-base);
        border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--v-admin-disabled-lighten1);
    }

    .table-row {
        padding-right: 8px;
    }
}

@media (max-width: (map-get($grid-breakpoints, "md") + 100)) {
    .car-main-info {
        min-width: 240px;
    }

    .car-details-page {
        gap: 16px;
    }

    .car-settings {
        min-width: 395px;
    }
}

@media #{map-get($display-breakpoints, 'sm-only')} {
    .v-application .v-main {
        &.admin {
            .control-buttons {
                flex-direction: column;

                .v-icon {
                    font-size: 16px;
                }

                .v-btn.v-size--default {
                    font-size: 0 !important;
                    border-width: 1px !important;
                    max-height: unset;
                }

                .v-btn:first-child {
                    border-radius: 4px;
                }

                .v-btn:last-child {
                    border-radius: 4px;
                }

                .v-btn:not(:last-child):not(:first-child) {
                    border-radius: 4px;
                    margin: 4px 0;
                }
            }
        }
    }

    .order-image {
        min-width: 80px;
        padding: 0;
    }
}
@media #{map-get($display-breakpoints, 'sm-and-down')} {
    .order-price {
        font-size: 20px;
        flex-grow: 1;
        max-width: unset;
        text-align: right;
    }

    .v-application .v-main {
        .admin-error-page {
            h1 {
                font-size: 48px;
                line-height: 50px;
            }

            &__title {
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 0;
            }

            &__message {
                font-family: $admin-font;
                font-size: 14px;
                line-height: 23px;
            }
        }
    }
}

@media #{map-get($display-breakpoints, 'xs-only')} {
    .v-application .v-main {
        &.admin {
            h1 {
                font-size: 24px;
                margin-bottom: 15px;
            }
        }
    }
    .table-container {
        max-height: unset;
        overflow-y: hidden;
    }
    .admin-content {
        padding: 15px;
        min-height: calc(100vh - 124px);
        margin: 0;

        &__container {
            flex-grow: 1;
            min-width: unset;

            > .table-container + .row {
                margin-top: auto;
            }
        }

        &__container {
            width: 100%;
        }
    }

    .admin-account {
        .v-list-item__content {
            display: none;
        }

        .v-list-item__action {
            margin: 0 !important;
        }

        .v-avatar.v-list-item__avatar {
            margin-right: 4px;
        }
    }

    .admin-footer {
        margin-bottom: 56px;
        position: static;

        &__menu,
        &__copyright {
            padding: 0;
        }

        .v-main.admin & .copyright {
            text-align: left;
            padding-left: 8px;
            font-size: 12px;
        }
    }

    .order-info {
        max-width: unset;
        flex: 50%;
    }

    .car-settings {
        &__controls {
            margin-top: 16px;
            flex-direction: column;
            gap: 8px;
        }
    }

    .car-settings,
    .car-main-info {
        min-width: 280px;
    }
}
