@font-face {
    font-family: "Helvetica";
    src: url("~@/assets/fonts/Helvetica.eot");
    src: url("~@/assets/fonts/Helvetica.eot?#iefix") format("embedded-opentype"),
        url("~@/assets/fonts/Helvetica.woff") format("woff"), url("~@/assets/fonts/Helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
